<%- include('./partials/header.ejs') %>
  <div class="splash-page">

    <h1>
      <%= title %>
    </h1>
    <h5>Dungeons & Dragons</h5>

    <a href="/characters">Link</a>

  </div>

  <%- include('./partials/footer.ejs') %>