* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: whitesmoke;
}

a {
  color: #00B7FF;
}

.splash-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  background-image: url('/images/dnd-splash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100vw;
  height: 100vh;
}

.charBtn {
  width: 50px;
  height: 50px;
  font-size: 50px;
  background-color: beige;
}

.charBtn:hover {
  background-color: rgb(213, 213, 190);
}

#createArea {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#newChar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}