* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: whitesmoke;

}

a {
  color: #00B7FF;
}

.splash-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  background-image: url('/images/dnd-splash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100vw;
  height: 100vh;
}

.charBtn {
  font-size: 50px;
  background-color: beige;
  text-decoration: none;
  color: black
}

.charBtn:hover {
  background-color: rgb(213, 213, 190);
}

#createArea {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#newChar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.charCard,
.charBtn {
  border: 1px solid black;
  border-radius: 10%;
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 2px 2px rgb(255, 0, 0);
  color: rgb(240, 255, 25);
  font-size: 18px;
}

.charCard>img {
  position: absolute;
  height: 10rem;
  z-index: -1;
}