<%- include('../partials/header.ejs') %>
  
  <p>CREATE YOUR CHARACTERS
  </p>
    
  <div id="createArea">
    <div>
    <p>CHAR 1 NAME</p>
    <a class="charBtn" href="characters/new">+</a>
    </div>
  </div>

  <%- include('../partials/footer.ejs') %>