<%- include('../partials/header.ejs') %>

  <p>CREATE YOUR CHARACTERS <%= title %>
  </p>

  <div id="createArea">
    <div>
      <a class="charBtn" href="characters/new">+</a>
    </div>
  </div>

  <%- include('../partials/footer.ejs') %>