<%- include('../partials/header.ejs') %>

  <p>NEW CHAR<%= title %>
  </p>


  <form id="newChar" action="/characters" method="POST">
    <label> name
      <input type="string" name="name" placeholder="Character name" required>
    </label>

    <label> Race
      <select name="race" required>
        <option value="elf">elf</option>
        <option value="dwarf">dwarf</option>
        <option value="orc">orc</option>
      </select>
    </label>

    <label> Class
      <select name="charClass" required>
        <option value="warrior">warrior</option>
        <option value="ranger">ranger</option>
        <option value="sorcerer">sorcerer</option>
      </select>
    </label>

    <label> Strength
      <input type="number" name="strength" min="3" max="15" value="10">
    </label>
    <label> Dexterity
      <input type="number" name="dexterity" min="3" max="15" value="10">
    </label>
    <label> Constitution
      <input type="number" name="constitution" min="3" max="15" value="10">
    </label>
    <label> Intelligence
      <input type="number" name="intelligence" min="3" max="15" value="10">
    </label>
    <label> Wisdom
      <input type="number" name="wisdom" min="3" max="15" value="10">
    </label>
    <label> Charisma
      <input type="number" name="charisma" min="3" max="15" value="10">
    </label>
  


    <button type="submit">CREATE</button>
  </form>




  <%- include('../partials/footer.ejs') %>